.channel-textarea{
	position: absolute;
    bottom: 0;
    width: 95%;
    left: 0;
    right: 0;
    margin: 10px auto;


	&__textarea{
		padding: 9px 50px 9px 50px;
		width: 100%;
		min-height: 45px;

		border: 2px solid #E0E0E0;
		border-radius: 6px;
		background: #fff;

		input{
			border: 0;
			width: 100%;
			font-size: 14px;
		}
	}

	&__actions,
	&__smiles{
		position: absolute;
		top: 0;
		width: 45px;
		height: 100%;
		text-align: center;
	}

	&__smiles-open{
	    position: relative;
	    top: -130px;
	    left: -60px;
	    width: 200px;
	    height: 100px;
	    z-index: 100;
	    border: 2px solid #ddd;
	    background-color: #fff;
	    border-radius: 5px;
	    padding: 10px;
	}

	&__actions{
		
		border-right: 2px solid #E0E0E0;
		left: 0;
	}
	&__smiles{
		right: 0;
	}
}